@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

sans_serif = 'Roboto Slab', sans-serif
icon = FontAwesome

mq-base-font-size = 16px

body
	font-family sans_serif
	font-size mq-base-font-size