.onoffswitch{
	display: inline-block;
	margin 0 1.2em 1.2em 0;
	.title{
		line-height 2em
		color white
	}
	text-align left;
}

.onoffswitch > div{
	position: relative;
	width: 74px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50px;
	border 2px solid white
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.12s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "ON";
	padding-left: 6px;
	background-color: onoffColor; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 6px;
	background-color: controlsColor; color: #FFFFFF;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 31px; margin: -3.5px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 50px;
	border-radius: 50px;
	transition: all 0.12s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0; 
}