footer
	margin 0 auto
	text-align center
	background #333
	color white
	width 100%
	height footerHeight
	display none
	
	.inner-content
		padding 20px
	/.page-wrapper
		margin-bottom (footerHeight -200)*-1
		&::after
			height footerHeight
			content ''
			display block
	a
		color white