.page-wrapper
	height 100%
	display table
	width 100%

.app-header
	max-width maxWidth
	margin 0 auto
	top 0
	width 100%
	+above(1200px)
		position absolute
		left 0
		top 0
		max-width 150px

/* App body */
.app-content
	display table-cell
	vertical-align middle
	width 100%
	.stream
		max-width maxWidth
		padding-bottom 50px
		margin -100px auto 20px
		
