.page-wrapper
	height 100%
	display table
	width 100%

.app-header
	max-width maxWidth
	margin 0 auto
	top 0
	width 100%
	.logo
		text-align center
		width 100%

/* App body */
.app-content
	display table-cell
	vertical-align middle
	width 100%
	.stream
		max-width maxWidth
		margin -100px auto 0
		
